<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="false">

	<targets>

		<target xsi:type="File"
				name="generalFile"
				fileName="${basedir}/Logs/workflow-${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=tostring}"
				concurrentWrites="true"
				keepFileOpen="false"
				encoding="utf-8" />

		<target xsi:type="File"
				name="errorFile"
				fileName="${basedir}/Logs/errors-${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${message}${newline}${exception:format=tostring}"
				concurrentWrites="true"
				keepFileOpen="false"
				encoding="utf-8" />

	</targets>

	<rules>

		<logger name="*"
				minlevel="Info"
				writeTo="generalFile" />

		<logger name="*"
				minlevel="Error"
				writeTo="errorFile" />

	</rules>

</nlog>